{{ partial "header.html" . }}
{{ partial "nav.html" . }}
<div id="content" class="min-h-100 w-100">
  <div class="cover pa5-ns pa3 min-h-100" style="background-image:url({{.Params.img}})">
    <!-- Content -->
    <article class="cf pa4 lh-copy bg-black-80 white w-50-ns w-100 h-auto {{.Params.classes}}">
      <h1 class="ma0 pb1 mb1 bb b--white-30">{{.Title}}</h1>
      <h3 class="f6">
        <span class="i mid-gray">{{.Params.author}} / </span> 
        <span class="i mid-gray">{{ .Date.Format .Site.Params.dateform }}</span>
      </h3>
      <a href="{{.Params.mixcloud_url}}" class="pa2 dim mixcloud-play-button link white ba b--white">
        <span class="play-button-small" style="height:1px;"></span> 
        Play episode
      </a>
      {{.Content}}
    </article>
  </div>
</div>
{{ partial "mixcloud-player" }}

{{ partial "footer.html" }}
