
<div class="post-item fl
{{if eq .Params.size 1 }}w-50 w-25-ns{{ end }}
{{if eq .Params.size 2 }}w-100 w-50-ns{{ end }}
{{if eq .Params.size 3 }}w-100 w-75-ns{{ end }}
{{if eq .Params.size 4 }}w-100{{ end }}">
  <div class="db aspect-ratio aspect-ratio--1x1">
    <div style="background-image:url({{.Params.meta_img}});"
         class="bg-center cover aspect-ratio--object">
      <h2 class="f4-ns f6">
        <a data-container="content" class="spf-link link pv1 pl2 pr2 bg-black-90 white hover-moon-gray" href="{{ .URL }}">
        {{.Title}}
        </a>
      </h2>
      <h3 class="f6-ns f7"><span class="i pv1 ph2 bg-black mid-gray">{{.Params.author}}</span></h3>
      <span class="ttu tracked f7 white pl2 absolute bottom-1 right-1">{{ .Date.Format .Site.Params.dateform }}</span>
      <a class="play-button mixcloud-play-button" href="{{.Params.mixcloud_url}}"></a>
    </div>
  </div>
</div>
